/* general styling */
* {
	margin: 0px;
	padding: 0px;    
	box-sizing: border-box;
  }
  /* general styles */
  body {
    background: #cccccc;
  }
  button {
    outline: none;
    border: none;
    padding: 8px 14px;
    border: 1px solid #00b334;
    color: black;
    background: white;
    transition: 0.5s;
    cursor: pointer;
  }
  button:hover {
    background: green;
    color: white;
  }
  /* navbar styling */
  nav {
    display: flex;
    justify-content: space-around;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	text-align: right;
    font-size: 0.9em;
    background: #000000;
    padding: 20px;
  }
  nav a {
    	text-decoration: none;
    	color: white;
    	margin: 0px 5px;
  }
  nav div a {
    border-bottom: 1px solid #00b334;
  }
  
  nav i {
    font-size: 1.9em;
  }
  nav a:hover {
    color: #00b334;
    border: none;
  }
  /* main content styling */
  main {
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  /* food card */
  .card {
    width: 300px;
    height: 450px;
    overflow: hidden;
    margin: 15px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    cursor: pointer;
  }
  .card .image {
    padding: 0px;
    height: 200px;
    overflow: hidden;
  }
  .card .body {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .card img {
    width: 100%;
    transition: 1s;
  }
  .card div {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .card div .title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .card div .title h1 {
    font-size: 1.5em;
    font-family: cursive;
    transform: scale(1.2);
    font-weight: bolder;
  }
  .card div .title h2 {
    font-size: 1.1em;
    font-weight: normal;
    color: #00b334;
  }
  .card:hover {
    transform: scale(1.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 179, 52, 0.5);
  }
  .card:hover img {
    transform: rotate(1deg);
  }
  
  /* form styles */
  form {
    padding: 10px;
    width: 600px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  }
  form h1 {
    text-align: center;
    margin-bottom: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: #00b334;
  }
  form div {
    display: flex;
    flex-direction: column;
  }
  form label {
    margin-bottom: 5px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  form input,
  textarea {
    padding: 15px 20px;
    margin-bottom: 5px;
    border: none;
    outline: none;
  }
  form button {
    width: 100%;
    background: blue !important;
    color: white !important;
    padding: 12px 15px;
  }
  form button:hover {
    background: white !important;
    color: black !important;
  }
  
  .control-label {
    display: inline;
  }

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


/* about us styling */
.about-us {
padding: 30px;
}
/*about us section html page */
.body-about{padding: 10px 60px;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;background-color: lavender;}
.body-about h6{font-size: 18pt;}
.body-about .about-us .section{padding: 10px 20px;color: #000000;}
.body-about .about-us .section .section-header{line-height: 20px;background-color: #dedede;padding: 10px 4px;margin-bottom: 4px;}
.body-about .about-us .section p{margin-top: 4px;padding-bottom: 10px;padding-left: 8px;}
#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}


table{width: 100%;margin-top: 30px;font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;border-collapse: collapse;}
table td,table th{border: 3px solid rgb(20, 20, 20);padding: 8px;}
table td a{padding:0px 0px;text-align: center;}
table tr:nth-child(even){background-color: #f2f2f2;}
table tr:hover {background-color: #ddd;}
table th{padding-top: 12px;padding-bottom: 12px;text-align: center;background-color: #3e41e0;color: white;border: 3px solid rgb(20, 20, 20)}
